####################################################
#Configure file for Edge Tester                    #
#put all configurations after the colon            #
####################################################
Where is the location of pxrmt?
pxrmt: pxrmt

Where is the location of pxbp?
pxbp: pxbp

Where is the location of pxrr?
pxrr: pxrr

Where is raxml?
raxml: raxmlHPC

What is the name of the outfile?
outfile: CaryophyllalesStats

What is the name of the supermatrix file?
Supermatrix: Super_name.fa

What is the name of the parts file?
PartsFile: Super.model

What is the name of the tree set file?
Set: RootedCaryBackbone.tre

What is the support
support: 70


How many threads should be used?
Threads: 3

Is this a test (True or False)?
Test: False

Should this be run as verbose, good for trouble shooting, making big files and answering reviewer comments (True or False)?
Verbose: True


